$black: #000;
$purple: #751fff;
$purple-dark: rgba($purple, 0.95);
$white: #fafafa;
$gray: #EDECEC;
$backgroundColor: $gray;
$fontColor: $black;
$linkColor: $black;
$linkColor-hover: $purple;
$linkColor-inText: $purple;
$green: #32a852;
$red: #a10d12;