@import "/src/globalVariables";

.phone-holder {
    width: 25%;
    height: 400px;
    border: 2px solid $gray;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;

    * {
        margin: 0;
    }

    h3 {
        font-size: 1.25em;
    }

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
}